<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552467278327-6259snturrgso8tctlnct3722b6b61pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552467278327-6259snturrgso8tctlnct3722b6b61pc</string>
	<key>API_KEY</key>
	<string>AIzaSyARhDiwEmOy-lB6yL3cAivC-DtM7JV0sDc</string>
	<key>GCM_SENDER_ID</key>
	<string>552467278327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NirbhaySingh.classifyTrash</string>
	<key>PROJECT_ID</key>
	<string>garbo-b50f5</string>
	<key>STORAGE_BUCKET</key>
	<string>garbo-b50f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552467278327:ios:82e6e573d29afd006866f2</string>
	<key>DATABASE_URL</key>
	<string>https://garbo-b50f5.firebaseio.com</string>
</dict>
</plist>